.ui.cards > .card > .image {
  align-items: center;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin-top: 20px;
}

.ui.cards > .card > .image > img {
  height: 100%;
  width: 100%;
}

.ui.cards > .card {
  align-items: center;
  justify-content: space-between;
}

.ui.cards > .card > .content > .title {
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  overflow: hidden;
  height: 40px;
}

.ui.cards > .card > .content > .meta.price {
  margin-bottom: 5px;
  font-size: 20px;
  color: darkgoldenrod;
}

.ui.cards > .card > .content > .meta {
  font-size: 15px;
}

.ui.cards > .card > .content {
  display: inline-block;
}


.ui.menu>.container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.ui.menu>.container>.menu>a>h3{
display: inline;
justify-content:space-between;
margin-right:  10px;
font-size: 20px;
color: black;

}

.ui.menu>.container>a>h2{
 color: black;
}


.ui.grid>h1{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-end;
  padding: 10px;
}


.three.wide.column{

  margin-top:50px;
  margin-bottom: 10px;
  background-color: antiquewhite;
    
  }
  
  
  
